.nav-link {
    color: black !important;
    font-size: 11pt;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: bolder;
}

.nav-link:hover::after {
    content: '';
    display: block;
    border-bottom: 3px solid maroon;
    width: 50%;
    margin: auto;
    padding-bottom: 8px;
    margin-bottom: -11px;
}

.active::after {
    content: '';
    display: block;
    border-bottom: 3px solid maroon;
    width: 50%;
    margin: auto;
    padding-bottom: -5px;
    margin-bottom: -8px;
}

.jumbotron {
    height: 750px;
    background: url('../img/carl-heyerdahl-KE0nC8-58MQ-unsplash.jpg');
    background-size: cover;
    z-index: 1;
    margin-top: -75px;
}

.text-contact {
    font-family: Arial, Helvetica, sans-serif;
}

.contact-us {
    margin-top: -35px;
    background-color: #181818 !important;
}

.content {
    margin-top: 20px;
}

.call-us {
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 650;
    letter-spacing: 2px;
}

.jumbotron1 {
    background:url('../img/carl-heyerdahl-KE0nC8-58MQ-unsplash.jpg');
    background-size: cover;
    height: 300px;
}

.testimoni {
    height: 470px;
    background: url('../img/goran-ivos-_yBEyYR8wps-unsplash.jpg');
    background-size: cover;
}

.testimoni::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
    margin-top: -72vh;
}

.contact {
    height: 898px;
    background: url('../img/goran-ivos-_yBEyYR8wps-unsplash.jpg');
    background-size: cover;
}

.contact::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
    margin-top: -145vh;
}

.service {
    margin-top: -15px;
    height: 560px;
    background: url('../img/goran-ivos-_yBEyYR8wps-unsplash.jpg');
    background-size: cover;
}

.service::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
    margin-top: -85vh;
}